<launch>
	<!-- case2 astar测试程序，手动指定目标点  -->
	<!-- 无人机集群数量 -->
	<arg name="swarm_num" default="1"/>
	<!-- 无人机名称 -->
	<arg name="uav1_name" default="/uav1"/>
	<!-- 无人机ID -->
	<arg name="uav1_id" default="1"/>
	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="0.0"/>
    <arg name="uav1_init_y" default="0.0"/>
	<!-- swarm_estimator 参数 -->
	<arg name="input_source" default="2"/>
	<!-- swarm_controller 参数 -->
	<arg name="Takeoff_height" default="0.87"/>
	<arg name="Disarm_height" default="0.2"/>
	<arg name="Land_speed" default="0.2"/>
	<arg name="x_min" default="-14.5"/>
	<arg name="x_max" default="14.5"/>
	<arg name="y_min" default="-12.5"/>
	<arg name="y_max" default="12.5"/>
	<arg name="z_min" default="-1.0"/>
	<arg name="z_max" default="3.5"/>

    <!-- 1号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav1_name)"/>
		<arg name="uav_id" value="$(arg uav1_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav1/uav1.sdf"/>
		<arg name="model" value="uav1"/>
		<arg name="uav_init_x" value="$(arg uav1_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav1_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- run the swarm_estimator.cpp -->
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav1" output="screen">
		<param name="uav_name" value="$(arg uav1_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>

	<!-- 启动swarm_controller -->
	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav1" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav1_id)"/>
		<param name="uav_name" value="$(arg uav1_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<!-- 启动地面站 -->
	<node pkg="prometheus_swarm_control" type="swarm_ground_station" name="swarm_ground_station" output="screen" launch-prefix="gnome-terminal --tab --">	
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav1_name" value="$(arg uav1_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_ground_station_msg" name="swarm_ground_station_msg" output="screen"  launch-prefix="gnome-terminal --tab --">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav1_name" value="$(arg uav1_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
	</node>

    <!-- 启动全局规划算法 -->
    <arg name="topic_of_laser_scan" default="/uav1/prometheus/sensor/2Dlidar_scan"/>
    <node pkg="prometheus_case2" type="case2_main" name="case2_main_uav1" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_name" value="$(arg uav1_name)" />
		<param name="uav_id" value="$(arg uav1_id)" />
        <remap from="/uav1/prometheus/global_planning/laser_scan" to="$(arg topic_of_laser_scan)" />
		<param name="global_planner/sim_mode" value="true" type="bool"/>
		<param name="global_planner/replan_time" value="2.0" type="double"/>
		<!-- ２维高度，建议与起飞高度一致 -->
		<param name="global_planner/fly_height_2D" value="1.0" type="double"/>
        <!-- 目标点模式 -->
		<param name="global_planner/manual_mode" value="true" type="bool"/>
		<param name="global_planner/goal_num" value="3" />
		<param name="global_planner/waypoint0_x" value="6.0" />
		<param name="global_planner/waypoint0_y" value="6.0" />
		<param name="global_planner/waypoint1_x" value="-6.0" />
		<param name="global_planner/waypoint1_y" value="-6.0" />
		<param name="global_planner/waypoint2_x" value="6.0" />
		<param name="global_planner/waypoint2_y" value="-6.0" />
        <param name="global_planner/map_input" value="2" type="int"/>
        <!-- 最大搜索步数 -->
        <param name="astar/allocate_num" value="50000" type="int"/>
        <!-- 启发式函数系数 -->
        <param name="astar/lambda_heu" value="2.0" type="double"/>
        <!-- 分辨率 -->
        <param name="map/resolution" value="0.2" type="double"/>
		<!-- 注意不同控制方式选择不一样 -->
		<!-- 位置控制: time_per_path = resolution/期望速度 -->
		<!-- 速度控制: time_per_path = 0.1 -->
		<param name="global_planner/time_per_path" value="0.1" type="double"/>
		<param name="global_planner/velocity_path_tracking" value="0.5" type="double"/>
		<!-- 检测范围 -->
		<param name="global_planner/detection_range_x_min" value="-4.5" type="double"/>
		<param name="global_planner/detection_range_x_max" value="0.0" type="double"/>
		<param name="global_planner/detection_range_y_min" value="1.2" type="double"/>
		<param name="global_planner/detection_range_y_max" value="2.4" type="double"/>
        <!-- 障碍物膨胀距离 -->
        <!-- 为飞机的轴距即可 -->
        <param name="map/inflate" value="0.4" type="double"/>
        <!-- 地图范围 -->
        <param name="map/origin_x" value="-15.0" type="double"/>
        <param name="map/origin_y" value="-15.0" type="double"/>
        <param name="map/origin_z" value="-0.5" type="double"/>
        <param name="map/map_size_x" value="30.0" type="double"/>
        <param name="map/map_size_y" value="30.0" type="double"/>
        <param name="map/map_size_z" value="3.0" type="double"/>
		<param name="map/queue_size" value="20" type="int"/>
		<param name="map/border" value="false" type="bool"/>
    </node>

    <group ns="$(arg uav1_name)">
        <!-- run the pub_goal.cpp -->
        <node pkg="prometheus_mission" type="pub_goal" name="pub_goal" output="screen" launch-prefix="gnome-terminal --">	
        </node>
    </group>

	<node pkg="prometheus_case2" type="case2_from_groundstation" name="case2_from_groundstation" output="screen" launch-prefix="gnome-terminal --">	
	</node>

	<!-- TF transform -->
	<include file="$(find prometheus_gazebo)/launch_CXY/tf_transform_cxy.launch">
		<arg name="x" value="$(arg uav1_init_x)"/>
    	<arg name="y" value="$(arg uav1_init_y)"/>
    	<arg name="z" value="0.15"/>
    </include>

	<!-- 启动rviz,设为false可关闭 -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/cxy_config/rviz_cxy_case2.rviz" />
    </group>

	<!-- 启动Gazebo -->
	<!-- Gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/obstacle.world"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>
</launch>

